{% block body %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}

{% include 'vehiculo/menu.html' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card p-3 mx-auto">
            <h2 class="text-center">Registrar nuevo usuario</h2>
            <form method="POST">
              {% csrf_token %}
              {{ form | crispy }}
              <button type="submit" class="btn btn-info">Registrar</button>
            </form>
            {% comment %} <p class="mt-3 mx-auto">
              Si ya tienes una cuenta, puedes <a href="{% url 'login' %}">Iniciar sesión</a>
            </p> {% endcomment %}
        </div>      
      </div>
    </div>
  </div>
{% endblock body %}
