<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Vehículos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'agregar_vehiculo' %}">Agregar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listar_vehiculos' %}">Listar</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <h3 class="text-white m-auto">Sesión iniciada como: {{ user.username }} </h3>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <h3 class="text-white m-auto">Sesión no iniciada </h3>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-link" href="{% url 'registro_usuario' %}">Registrarse</a>
        {% endif %}
      </div>
    </div>
  </nav>